<div class="background-contact">
    <div class="contact-header">
        <p>{{ description }}</p>
        <h1>{{ title }}</h1>
    </div>
    <div class="contact">
        <h3>{{ byPhone }}<i class="fa fa-fw fa-phone"></i>{{ phone }}</h3>
        <h3>{{ byMail }}<i class="fa fa-fw fa-envelope"></i>{{ mail }}</h3>
        <h3 class="follow">Suivez-nous aussi sur facebook</h3>
        <a href="https://www.facebook.com/CentreUniVersleBienEtre"  target="_blank">
            <img src= "../../assets/Logo-Facebook-png.png">
        </a>
    </div>
    <div class="botnav">
        <p>Crée par Julien Salies</p>
    </div>
</div>
