@media (min-width: 480px) {
    :host {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;

        .background {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            .top-bar {
                display: flex;
                flex-direction: column;
                background-color: antiquewhite;
            }
        }
    }
}
