@media (max-width: 480px) {
    :host {
        display: none;
    }
}

@media (min-width: 480px) {
    :host {
        display: flex;
        overflow: auto;
        flex-grow: 1;
    }
    .background-projects {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .doctors-presentation {
            margin-top: 70px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .text-title {
                h2 {
                    justify-content: center;
                    display: flex;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }
            .text-presentation {
                display: flex;
                flex-grow: 1;
                width: 100%;
                justify-content: center;
                p {
                    width: 30%;
                    font-size: large;
                    text-align: center;
                }
            }
        }
        .doctors {
            display: flex;
            flex-direction: column;
            .doctor {
                display: flex;
                justify-content: center;
                text-align: center;
                margin-top: 100px;
                margin-left: 50px;
                margin-right: 50px;
                .border-style {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    width: 35%;
                    height: 100%;
                    border: 1px black solid;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 10px;
                    padding: 10px;
                    .picture {
                        display: flex;
                        align-items: center;
                        img {
                            border-radius: 50%;
                            object-fit: contain;
                            flex-grow: 1;
                            height: 120px;
                        }
                    }
                    .desc {
                        display: flex;
                        flex-direction: column;
                        p {
                            font-style: italic;
                            font-size: 20px;
                        }
                        h2 {
                            margin-bottom: 20px;
                        }
                        .job {
                            border-top: solid;
                            padding-top: 20px;
                            font-style: normal;
                            font-weight: bold;
                        }
                    }
                    .doctor-contacts {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        margin-top: 20px;
                    }
                }
                .border-style-last {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    width: 24%;
                    height: 100%;
                    border: 1px black solid;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 10px;
                    padding: 10px;
                    .picture {
                        width: 30%;
                        display: flex;
                        align-items: center;
                        img {
                            border-radius: 50%;
                            object-fit: contain;
                            flex-grow: 1;
                            width: 30%;
                        }
                    }
                    .desc {
                        display: flex;
                        flex-direction: column;
                        p {
                            font-style: italic;
                            font-size: 20px;
                        }
                        h2 {
                            margin-bottom: 20px;
                        }
                        .job {
                            border-top: solid;
                            padding-top: 20px;
                            font-style: normal;
                            font-weight: bold;
                        }
                    }
                    .doctor-contacts {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        margin-top: 20px;
                    }
                }
            }
        }
        .botnav {
            margin-top: 70px;
            display: flex;
            justify-content: center;
            background-color: #333;
            p {
                font-size: 10px;
                display: flex;
                height: 100%;
                align-items: center;
                color: white;
            }
        }
    }
}
