<div class="background-projects">
    <div class="doctors-presentation">
        <div class="text-title">
            <h2>Notre équipe</h2>
        </div>
        <div class="text-presentation">
            <p>Toute l'équipe de thérapeutes du Centre est là pour vous servir et pour vous accompagner dans vos difficultés, vos questionnements, vos recherches, vos besoins d'écoute et de conseils. Tous diplômés et formés dans leur spécialité, et forts de leur complémentarité, ils sauront, les uns et les autres vous Orienter vers l’approche la plus adaptée à vos besoins.</p>
        </div>
    </div>
    <div class="doctors">
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/isabellefarre.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor1Name }}</h2>
                    <p class="job">MASSEUSE BIEN-ETRE</p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/jc.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor2Name }}</h2>
                    <p class="job">ACCOMPAGNATEUR BIEN-ETRE</p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/florencecambus.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor3Name }}</h2>
                    <p class="job">NATUROPATHE</p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/mathildebousquet.jpg">
                </div>
                <div class="desc">
                    <h2>{{ doctor9Name }}</h2>
                    <p class="job">DIETETICIENNE - NUTRITIONNISTE</p>
                </div>
            </div>
        </div>
        <div class="doctor">
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor4Name }}</h2>
                    <p class="job">
                        {{ doctor4Desc }}
                    </p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/brigitte.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor7Name }}</h2>
                    <p class="job">
                        {{ doctor7Desc }}
                    </p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor8Name }}</h2>
                    <p class="job">
                        {{ doctor8Desc }}
                    </p>
                </div>
            </div>
            <div class="border-style">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/véro.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor10Name }}</h2>
                    <p class="job">
                        {{ doctor10Desc }}
                    </p>
                </div>
            </div>
        </div>
        <div class="doctor">
            <div class="border-style-last">
                <div class="picture">
                    <img src= "../../assets/doctor_homme_coth.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor11Name }}</h2>
                    <p class="job">
                        {{ doctor11Desc }}
                    </p>
                </div>
            </div>
            <div class="border-style-last">
                <div class="picture">
                    <img src= "../../assets/ProfilePicture/flora.png">
                </div>
                <div class="desc">
                    <h2>{{ doctor12Name }}</h2>
                    <p class="job">
                        {{ doctor12Desc }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="botnav">
        <p>Crée par Julien Salies</p>
    </div>
</div>
