@media (max-width: 480px) {
    :host {
        display: none;
    }
}

@media (min-width: 481px) {
    :host {
        display: flex;
        overflow: auto;
    }
    .background-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        .top-page {
            flex-grow: 1;
            .title-page {
                height: 600px;
                background-color: 0 0 0;
                background-position-y: 20%;
                background-image:url(../../assets/amboise-1.jpg);
                display: flex;
                justify-content: center;
                flex-grow: 1;
                flex-direction: column;
                text-align: center;
                .title-position {
                    .title {
                        color: white;
                        font-weight: 900;
                        font-size: 70px;
                        text-shadow: black 0.1em 0.1em 0.2em
                    }
                    .title .letter {
                        display: inline-block;
                        line-height: 1em;
                    }
                    h3 {
                        font-weight: bold;
                        color: white;
                        display: flex;
                        flex-grow: 1;
                        justify-content: center;
                        margin-left: 25%;
                        margin-right: 25%;
                        text-shadow: black 0.1em 0.1em 0.2em
                    }
                }
            }
        }
        .presentation-home {
            display: flex;
            margin-top: 100px;
            margin-left: 10%;
            margin-right: 10%;
            flex-direction: column;
            h2 {
                font-weight: 900;
                font-size: 50px;
            }
            .border-style {
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 10px;
                .presentation {
                    font-size: 20px;
                }
            }
        }
        .experiences-home {
            display: flex;
            width: 50%;
            margin: 100px 0 0 40%;
            flex-direction: column;
            h2 {
                font-weight: bold;
            }
            .border-style {
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 10px;
                .presentation {
                    margin-left: 30px;
                    font-size: 20px;
                }
            }
        }
        .botnav {
            margin-top: 70px;
            display: flex;
            justify-content: center;
            background-color: #333;
            p {
                font-size: 10px;
                display: flex;
                height: 100%;
                align-items: center;
                color: white;
            }
        }
    }
}
