<div class="topnav">
    <div class="subject">
        <p>Centre Uni vers le bien être</p>
    </div>
    <div class="buttons-pos">
        <div class="buttons">
            <a [ngClass]="{'active': home}" (click)="Home()"><i class="fa fa-fw fa-home"></i>Accueil</a>
            <a [ngClass]="{'active': presentation}" (click)="Presentation()"><i class="fa fa-fw fa-camera-retro"></i>Présentation</a>
            <a [ngClass]="{'active': therapeutes}"  (click)="Projects()"><i class="fa fa-fw fa-users"></i>Notre equipe</a>
            <a [ngClass]="{'active': conferences}" (click)="Conferences()"><i class="fa fa-fw fa-microphone"></i>Ateliers et conférences</a>
            <a [ngClass]="{'active': location}" (click)="Location()"><i class="fa fa-fw fa-search"></i>Location salle</a>
            <a [ngClass]="{'active': contact}"  (click)="Contact()"><i class="fa fa-fw fa-envelope"></i>Contacts</a>
        </div>
    </div>
</div>